{%extends 'base.html'%}
{%block title%} about {%endblock%}
{%block body%}
<div class="p-5 text-center bg-image rounded-3" style="
    background-image: url('/static/images/patrick-weissenberger-uJhgEXPqSPk-unsplash.jpg');
    height: 700px;
  ">
  <div class="mask" style="background-color: rgba(0, 0, 0, 0.87);">
    <div class="d-flex justify-content-center align-items-center h-100">
      <div class="text-white">
        <h1 class="mb-3">About Us</h1>
        <h4 class="text-secondary">Welcome to Gold Analytics.We offer gold analysis for the past 5 years! We are a team of experts in the field of precious metals analysis, and we have spent the last 5 years studying and analyzing gold trends and patterns.</h4>

           <p class="text-secondary text-muted font-weight-light"> On our webpage, you will find a wealth of information about gold prices and market trends over the past 5 years. We have compiled data from various sources and used advanced analytical techniques to provide insights and predictions about the future of the gold market.
            
            In addition to gold analysis, we also offer a range of services to help investors make informed decisions about their gold investments. These services include market analysis, portfolio management, and risk assessment.
            
            We hope that our webpage will be a valuable resource for anyone interested in gold analysis and investing. If you have any questions or would like more information, please don't hesitate to contact us.</p>
            
      </div>
    </div>
  </div>
</div>
{%endblock%}