{%extends 'base.html'%}
{%block title%} login {%endblock%}
{%block body%}
  
    <form method="post" action="{{url_for('login')}}" class="mx-auto d-block" >
      <div class="form-group">
      {{ form.csrf_token}}
      <div  class="form-control">{{form.Username.label}}</div>
      
      <div class="form-control" id="username">{{form.Username}}</div>
      <br>
      {{form.password.label}}
      <div class="form-control" id="password">{{form.password}}</div>
      </div>
      <div class=" form-control">{{form.submit}}</div>
      </form>
  </div>
  <p><strong>Don't have an account?</strong></p>
  <p><strong><a href="{{url_for('register')}}">Register</a></strong></p>
{%endblock%}